<div class="container-fluid mt-3">
    <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand home-icon" routerLink="/"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto liens-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                   Présentation
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="historique.html">Historique</a>
                    <a class="dropdown-item" href="mission.html">Missions</a>
                    <a class="dropdown-item" href="">Organigramme</a>
                    <a class="dropdown-item" href="direction-generale.html">Direction Générale</a>
                    <a class="dropdown-item" href="direction_centrale.html">Directions centrales</a>
                    <a class="dropdown-item" href="direction_regionale.html">Directions Regionales</a>
                  </div>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Imprimés</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    E-Services
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">E-plaintes</a>
                    <a class="dropdown-item" href="#">E-Impôts</a>
                    <a class="dropdown-item" href="#">E-cadastre</a>

                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Communiqués</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="galerie">Actualités</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Documents publics
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Budgets</a>
                      <a class="dropdown-item" href="#">Marchés</a>
                      <a class="dropdown-item" href="#">Plan d'actions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                  </li>
              </ul>
              <a href="#" class="home-icon">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </nav>
    </div>
</div>
