<!-- Topbar Start -->
<div class="container-fluid mt-2">
    <div class="container messagerie d-flex justify-content-end align-items-center py-1 font-weight-bold nav-messagerie">
        <a href="#" class="px-3 text-orange text-decoration-none ">
            Messagerie professionelle
            <i class="fas fa-envelope"></i>
        </a>
        <div class="dropdown">
            <a class="dropdown-toggle text-orange text-decoration-none" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Langue
              <i class="fas fa-globe"></i>

            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item langue" href="#" style="color:black">Fr</a>
              <a class="dropdown-item langue" href="#" style="color:black">Eng</a>
            </div>
          </div>
    </div>
</div>
<!-- Topbar End -->
