<div class="pt-4">
    <div class="position-relative overflow-hidden mb-3">
      <img class="img-fluid w-100 h-100" src="../../../../assets/images/statistique.jpg" alt="" style="object-fit: cover;">
        <a href="" class="overlay align-items-center justify-content-center h5 m-0 text-white text-decoration-none">
           Nos Statistiques
        </a>
    </div>
    <div class="position-relative overflow-hidden mb-3" style="object-fit: cover;">
      <img class="img-fluid w-100 h-100" src="../../../../assets/images/Consultation-NCC.png" alt="">
        <a href="" class="overlay align-items-center justify-content-center h5 m-0 text-white text-decoration-none">
            Consultation d'un NCC
        </a>
    </div>
    <div class="position-relative overflow-hidden mb-3" style="object-fit: cover;">
      <img class="img-fluid w-100 h-100" src="../../../../assets/images/Avis d'imposition.png" alt="">
        <a href="" class="overlay align-items-center justify-content-center h5 m-0 text-white text-decoration-none">
            Avis d'impositions
        </a>
    </div>
</div>
