<div class="assistance pt-4">
    <ul class="list-group">
      <li class="list-group-item"><a class="text-orange" href="#">Facture personnalisée</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Lexique fiscal</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Rapports d'activités</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Statistiques</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Arrêtés</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Centres de Gestion Agréés (C.G.A)</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Paiement des droits ACD</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Calendrier des obligations fiscales</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Procédure de remboursement de crédit TVA</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Textes de l'Accord de Partenariat Economique Intermédiaire (APEI)</a></li>
    </ul>
</div>
