<div class="card-deck">
    <div class="card align-items-center kiosque" style="background-color: none;">
        <img src="../../../../assets/images/doctrine_fiscale_2018.jpg" alt="">
        <div class="card-body text-center">
          <h6 class="card-title">Code général des Impôts 3 en 1</h6>
          <p class="font-weight-bold text-orange">30. 000 F CFA</p>
        </div>
    </div>
    <div class="card align-items-center kiosque" style="background-color: none;">
        <img src="../../../../assets/images/doctrine_fiscale_2018.jpg" alt="">
        <div class="card-body text-center">
          <h6 class="card-title">Code général des Impôts 3 en 1</h6>
          <p class="font-weight-bold text-orange">30. 000 F CFA</p>
        </div>
    </div>
    <div class="card align-items-center kiosque" style="background-color: none;">
        <img src="../../../../assets/images/doctrine_fiscale_2018.jpg" alt="">
        <div class="card-body text-center">
          <h6 class="card-title">Code général des Impôts 3 en 1</h6>
          <p class="font-weight-bold text-orange">30. 000 F CFA</p>
        </div>
    </div>
    <div class="card align-items-center kiosque" style="background-color: none;">
        <img src="../../../../assets/images/doctrine_fiscale_2018.jpg" alt="">
        <div class="card-body text-center">
          <h6 class="card-title">Code général des Impôts 3 en 1</h6>
          <p class="font-weight-bold text-orange">30. 000 F CFA</p>
        </div>
    </div>
    <div class="card align-items-center kiosque" style="background-color: none;">
        <img src="../../../../assets/images/doctrine_fiscale_2018.jpg" alt="">
        <div class="card-body text-center">
          <h6 class="card-title">Code général des Impôts 3 en 1</h6>
          <p class="font-weight-bold text-orange">30. 000 F CFA</p>
        </div>
    </div>
</div>

