<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="position-relative">
        <img class="img-fluid w-100" src="../../../../assets/images/affiche_annexe_fiscale_2023.jpg" style="object-fit: cover;">
        <div class="overlay position-relative bg-light pt-2">  
            <a class="h6 m-0" href="">Annexe fiscale à la loi N 2021-899 du 21 Décembre 2021</a>
        </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="position-relative">
        <img class="img-fluid w-100" src="../../../../assets/images/affiche_annexe_fiscale_2023.jpg" style="object-fit: cover;">
        <div class="overlay position-relative bg-light pt-2">  
            <a class="h6 m-0" href="">Annexe fiscale à la loi N 2021-899 du 21 Décembre 2021</a>
        </div>
    </div>
  </ng-template>    
</owl-carousel-o>
