<div class="assistance pt-4">
    <ul class="list-group">
      <li class="list-group-item"><a class="text-orange" href="#">E-Impôts</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-Plaines</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-Cadastre-CI</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-Consulatation</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-quittance</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-Impôt foncier</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Accès Expert Comptable</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">Authentification document</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-Avis</a></li>
      <li class="list-group-item"><a class="text-orange" href="#">E-NCC</a></li>
    </ul>
</div> 
