<div class="pt-4">
    <div class="container bg-light">
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/texte_loi.png" alt="">
            <div>Textes et lois</div>
            </a>
          </div>
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/eng.png" alt="">
            <div>Engagement de service</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/service.png" alt="">
            <div>Les services</div>
            </a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/mutation.png" alt="">
            <div>Mutation immobilière</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/stat.png" alt="">
            <div>Statistiques immobilières</div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/consultation.png" alt="">
            <div>Consultation à distance</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/livre.png" alt="">
            <div>Livre foncier</div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="texte-loi d-flex align-items-center my-4">
            <img src="../../../../assets/images/partenaire.png" alt="">
            <div>Nos partenaires</div>
          </a>
        </div>
      </div>
    </div>
  </div>
