<div class="d-flex flex-column justify-content-center py-4 bg-light">
    <div class="dg d-flex flex-column justify-content-center">
      <div class="text-center">
        <img src="../../../../assets/images/OSA.jpg" class="img-fluid h-100" alt="...">
      </div>
      <div class="nom-dg text-center mt-2">M. OUATTARA Sié Abou</div>
      <div class="fonction-dg text-orange text-center">Directeur Général des Impôts</div>
      <div class="mot-dg d-flex justify-content-center align-items-center">
        <a href="#" class="px-2">Son mot</a>
        <a href="#" class="px-2">Sa biographie</a>
        <a href="#" class="px-2">Lui Ecrire</a>
      </div>
    </div>
    <div class="dga-igsf mt-2 px-4">
      <div class="dga-1">
        <div class="text-center">
          <img src="../../../../assets/images/drbamba.jpg" class="img-fluid h-100" alt="...">
          <div class="mt-1">Dr BAMBA Maférima Epse M'BAHIA</div>
        </div>
      </div>
      <div class="dga-2">
        <div class="text-center">
          <img src="../../../../assets/images/cissé aboubakari.jpg" class="img-fluid h-100" alt="...">
          <div class="mt-1">M. CISSE Aboubacari</div>
        </div>
      </div>
      <div class="igsf">
        <div class="text-center">
          <img src="../../../../assets/images/lgsf.jpg" class="img-fluid h-100" alt="...">
          <div class="mt-1">Mme KADJO Véronique Epse BAMBA</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center text-orange font-weight-bold">D.G.A</div>
        <div class="col text-center text-orange font-weight-bold">D.G.A</div>
        <div class="col text-center text-orange font-weight-bold">I.G.S.F</div>
      </div>
    </div>
  </div>