<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/appel.jpg" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/industries.jpg" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="col mb-4">
            <div class="card h-100 com" style="border-radius:5px; margin-bottom:0">
                <a href=""><img class="img-fluid w-100" src="../../../../assets/images/patente.png" style="object-fit: cover; height: 180px;"></a>
                <div class="card-body">
                    <h5 class="card-title">ENTREE EN VIGUEUR DE L'ANNEXE FISCALE</h5>
                    <p class="card-text">Paiement de la troisieme fraction de la redevance industrielle</p>
                </div>
                <div class="card-footer" style="background-color:transparent; border-top:none;">
                    <h6 style="margin-top: 10px;font-weight: normal;font-style:normal ;font-size:12px;"><i class="bi bi-clock"></i> Publié le 28/08/2022</h6>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template> 
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  -->
</owl-carousel-o>
