<div class="pt-4">
    <a href="">
      <div class="position-relative overflow-hidden mb-3">
        <img class="img-fluid" src="../../../../assets/images/politiqueQ.jpg" alt="">
      </div>
    </a>   
    <a href="">
      <div class="position-relative overflow-hidden mb-3" style="object-fit: cover;">
        <img class="img-fluid" src="../../../../assets/images/charteQ.jpg" alt="">
      </div>
    </a>  
    <a href="">
      <div class="position-relative overflow-hidden mb-3" style="object-fit: cover;">
        <img class="img-fluid" src="../../../../assets/images/charteEthiqueV2.jpg" alt="">
      </div>
    </a>
</div>
