<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oZfGpC3KS_A"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h6 class="card-title" style="font-style: italic; color: #f16739;">Emission L’impôt et vous</h6>
          <p class="card-text">Présentation de la plateforme mobile M-DGI</p>
          <p class="card-text"><small class="text-muted">01 Janvier 2023</small></p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oZfGpC3KS_A"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h6 class="card-title" style="font-style: italic; color: #f16739;">Emission L’impôt et vous</h6>
          <p class="card-text">Présentation de la plateforme mobile M-DGI</p>
          <p class="card-text"><small class="text-muted">01 Janvier 2023</small></p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oZfGpC3KS_A"></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h6 class="card-title" style="font-style: italic; color: #f16739;">Emission L’impôt et vous</h6>
          <p class="card-text">Présentation de la plateforme mobile M-DGI</p>
          <p class="card-text"><small class="text-muted">01 Janvier 2023</small></p>
        </div>
      </div>
    </div>
</div>
