<!-- FOOTER-->
<footer>
    <div class="col-md-12 col-sm-12 foot1">
        <div class="footer_top_left">
          <div style="text-align:center; font-size:13px; padding: 5px 0 5px 0; ">
            <a href="https://www.gouv.ci" class="alien">GOUV.CI</a> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.gouv.ci" target="_blank" class="alien">ADMINISTRATION.GOUV.CI</a> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://annuaire.gouv.ci" target="_blank" class="alien">ANNUAIRE.GOUV.CI</a> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://participationcitoyenne.gouv.ci/" target="_blank" class="alien">PARTICIAPTIONCITOYENNE.GOUV.CI</a> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://servicepublic.gouv.ci" target="_blank" class="alien">SERVICEPUBLIC.GOUV.CI</a> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://data.gouv.ci" target="_blank" class="alien">DATA.GOUV.CI</a>
          </div>
        </div>
    </div>
    <div style="background-image: url('../../../assets/images/footer.jpg');">
        <div class="container pt-5 px-sm-3 px-md-5 foot">
          <div class="row">
            
              <div class="col-lg-3 col-md-6 mb-5">
                  <img src="images/logodgi.png" alt="" style="width: 60%;">
                  <div class="d-flex flex-column justify-content-start mt-3">
                    <p>DIRECTION GENRALE DES IMPOTS</p> 
                    <p>Abidjan - plateau</p>
                    <p>Cité Administrative, Tour E</p>
                    <p>Tel: +225 27211090 / 2720219081 / 2720217108</p>
                    <p>infodgi@dgi.gouv.ci</p>
                </div>
                  <div class="d-flex justify-content-start mt-4">
                       <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-4">PRESENTATION</h6>
                <div class="d-flex flex-column justify-content-start">
                    <a class="mb-2" class="color:white" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Missions</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Historique</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Organigramme</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Textes reglementaires</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Direction Générale</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Directions Centrale</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Directions Régionales</a>
                </div>
                
            </div>
            <div class="col-lg-2 col-md-6 mb-5">
              <h6 class="font-weight-bold mb-4">MEDIA</h6>
                <div class="d-flex flex-column justify-content-start">
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Galerie video</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Galerie photo</a>
                </div>
            </div>
              <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-4">DOCUMENTS PUBLICS</h6>
                <div class="d-flex flex-column justify-content-start">
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Documents budgétaires</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Marchés public</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Documents financiers</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Plan d’actions</a>
                </div>
                
            </div>
            <div class="col-lg-2 col-md-6 mb-5">
              <h6 class="font-weight-bold mb-4">LIENS UTILES</h6>
                <div class="d-flex flex-column justify-content-start">
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Rapports</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Statistiques</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Communiques</a>
                    <a class="mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Actualités</a>
                </div>
            </div>
            
          </div>
      </div>  
    </div>
    <div class="container-fluid py-2 px-sm-3 px-md-5">
        <p class="m-0 text-center">
            &copy; <a class="font-weight-bold" href="#">DIRECTION GENERALE DES IMPOTS</a>. TOUS DROITS RÉSERVÉS.
        </p>
    </div>
</footer>
